.logininput {
  width: 500px;
}
.mainbody {
  position: absolute;
  top: 0px; /* Header Height */
  bottom: 0px; /* Footer Height */
  width: 100%;
}
.loggers {
  margin-top: 400px;
  margin-left: 700px;
}
